<style>
footer {
  font-size: 0.8rem;
  color: black;
  background: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
  align items: center;
  bottom:0;
}

footer div.logo {
  height: 4rem;
  padding: 0;
}

footer a.logo {
  text-decoration: none;
}

.footer-container {
  display: grid;
  grid: none / auto-flow;
  align-items: start;
}
</style>

<footer id="footer">
<div>
©{{ year }} Brockbank Education Fund
</div>
</footer>