<header class="site-header">
  <a href="/" class="logo-lockup">
    {% include "_logo.njk" %}
  </a>
  <nav>
  <ul>
  <!-- See https://github.com/11ty/eleventy/issues/898#issuecomment-897071947 for ordering.--> 
  {%- for page in collections.navbar | sort(false, false, 'data.order') -%}
    <li>
      <a href="{{ page.url }}">{{ page.data.title }}</a>
    </li>
  {%- endfor -%}
  </ul>
  </nav>
</header>