<style>
  div.logo {
    height: 100%;
    display: flex;
    align-items: center;
  }
  div.logotype {
    width: min-content;
    font-size: 75%;
    line-height: 1em;
  }
  a.logo {
    height: 105%;
    display: flex;
    align-items: center;
  }
  svg.wordmark {
    height: 80%;
    fill: #14212a;
  }
</style>

<a href="/" class="logo">
<div class="logo">
  <img src="/img/logo_dark.svg" class="header-logo">
  <svg viewBox="0 0 105 51" class="wordmark">
    <text>
    <tspan x="0" y="15" style="font-weight: 1000;">Brockbank</tspan>
    <tspan x="0" y="32">Education</tspan>
    <tspan x="0" y="49">Fund</tspan>
    </text>
  </svg>
</div>
</a>