<nav id="navbar">
  <ul>
    <li><a href="/about/">About</a></li>
    <li><a href="/news/">News</a></li>
    <li>{% include "_logo.njk" %}</li>
    <li><a href="/students/">Students</a></li>
    <li><a href="/donate/"><button class="rainbow">Donate</button></a></li>
  </ul>
</nav>