{% extends "base.njk" %}
{% block title %}{{ section }} - {{ title }}{% endblock %}
{% block body %}
<style>
article.post {
  width: 100vw;
  display: grid;
  grid: auto-flow;
}

div.post-head {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: var(--blue);
  height: 40vh;
}

h1.post-title {
  font-weight: 1000;
  font-size: 7vh;
  margin: 1rem 10vw;
}

div.post-body {
  margin: 0 20%;
}
</style>
<article class="post">
<div class="post-head">
<h1 class="post-title">{{ title | safe }}</h1>
<div class="post-desc">By AUTHOR</div>
</div>
<div class="post-body">
{{ content | safe }}
</div>
</article>
{% endblock %}