{% macro content(title, content, image) %}
<section class="hero">
    <div class="cblock">
    	<h2>{{ title }}</h2>
    	{{ content }}
    	<div class="button-container">
    		<button>Learn more</button>
    		<button>Donate</button>
    	</div>
    </div>
    <div class="cblock">
    {{ image }}
    </div>
</section>
{% endmacro %}